<% content_for :title, "About Us" %>

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "about", media: "all" %>
<% end %>

<% content_for :header_tag do %>
  <h2>About our Clinic</h2>
<% end %>

<main>
  <section>
    <h2>About Our Clinic</h2>
  </section>
  <section>
    <div>
      <h3>It's Not About What We Do, It's Who We Are</h3>
      <p>
        At Lyons Veterinary Clinic we are committed to caring for your pet as if
        they were our own. We realize they are more than just a pet, they are
        family. Our goal is to improve teh quality of your pet's lives while
        nurturing the bond you share with them. Our friendly and compassionate
        staff offer personalized care for you and your pet during every stage
        of their lives. We strive to form lasting relationships and treat each
        client and patient as if they were members of or own family.
      </p>
    </div>
  </section>
  <h3>Our Veterinarians</h3>
  <ul>
    <li>
      <%= image_tag 'tammy.png', alt: 'Tammy holding STELLA', class: 'shadow' %>
      <aside>
        <h4>Tammy Anotonucci</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cras semper auctor neque vitae tempus quam pellentesque. Nulla aliquet enim tortor at auctor urna nunc id cursus. Neque sodales ut etiam sit amet. Nibh praesent tristique magna sit amet. Dui ut ornare lectus sit amet est placerat. Faucibus turpis in eu mi bibendum neque egestas congue. Purus ut faucibus pulvinar elementum integer enim neque volutpat. In arcu cursus euismod quis viverra nibh cras pulvinar mattis. Ipsum dolor sit amet consectetur adipiscing elit duis tristique. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Justo laoreet sit amet cursus sit. Maecenas ultricies mi eget mauris. Turpis egestas integer eget aliquet nibh. Mauris sit amet massa vitae tortor condimentum lacinia.

          Eget arcu dictum varius duis at consectetur lorem. Interdum velit euismod in pellentesque massa placerat. Ultrices eros in cursus turpis. Ac auctor augue mauris augue neque. Justo laoreet sit amet cursus. Ut tortor pretium viverra suspendisse potenti. Nibh tortor id aliquet lectus proin nibh. Mauris augue neque gravida in fermentum et sollicitudin. Neque viverra justo nec ultrices dui sapien eget mi. Ut venenatis tellus in metus vulputate eu scelerisque felis. Felis bibendum ut tristique et egestas quis ipsum. Aliquam malesuada bibendum arcu vitae elementum curabitur.
        </p>
      </aside>
    </li>
    <li>
      <%= image_tag 'tammy.png', alt: 'Tammy holding STELLA', class: 'shadow' %>
      <aside>
        <h4>Tammy Anotonucci</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cras semper auctor neque vitae tempus quam pellentesque. Nulla aliquet enim tortor at auctor urna nunc id cursus. Neque sodales ut etiam sit amet. Nibh praesent tristique magna sit amet. Dui ut ornare lectus sit amet est placerat. Faucibus turpis in eu mi bibendum neque egestas congue. Purus ut faucibus pulvinar elementum integer enim neque volutpat. In arcu cursus euismod quis viverra nibh cras pulvinar mattis. Ipsum dolor sit amet consectetur adipiscing elit duis tristique. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Justo laoreet sit amet cursus sit. Maecenas ultricies mi eget mauris. Turpis egestas integer eget aliquet nibh. Mauris sit amet massa vitae tortor condimentum lacinia.

          Eget arcu dictum varius duis at consectetur lorem. Interdum velit euismod in pellentesque massa placerat. Ultrices eros in cursus turpis. Ac auctor augue mauris augue neque. Justo laoreet sit amet cursus. Ut tortor pretium viverra suspendisse potenti. Nibh tortor id aliquet lectus proin nibh. Mauris augue neque gravida in fermentum et sollicitudin. Neque viverra justo nec ultrices dui sapien eget mi. Ut venenatis tellus in metus vulputate eu scelerisque felis. Felis bibendum ut tristique et egestas quis ipsum. Aliquam malesuada bibendum arcu vitae elementum curabitur.
        </p>
      </aside>
    </li>
  </ul>
  <h3>Our Technicians</h3>
  <ul>
    <li>
      <%= image_tag 'tammy.png', alt: 'Tammy holding STELLA', class: 'shadow' %>
      <aside>
        <h4>Tammy Anotonucci</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cras semper auctor neque vitae tempus quam pellentesque. Nulla aliquet enim tortor at auctor urna nunc id cursus. Neque sodales ut etiam sit amet. Nibh praesent tristique magna sit amet. Dui ut ornare lectus sit amet est placerat. Faucibus turpis in eu mi bibendum neque egestas congue. Purus ut faucibus pulvinar elementum integer enim neque volutpat. In arcu cursus euismod quis viverra nibh cras pulvinar mattis. Ipsum dolor sit amet consectetur adipiscing elit duis tristique. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Justo laoreet sit amet cursus sit. Maecenas ultricies mi eget mauris. Turpis egestas integer eget aliquet nibh. Mauris sit amet massa vitae tortor condimentum lacinia.

          Eget arcu dictum varius duis at consectetur lorem. Interdum velit euismod in pellentesque massa placerat. Ultrices eros in cursus turpis. Ac auctor augue mauris augue neque. Justo laoreet sit amet cursus. Ut tortor pretium viverra suspendisse potenti. Nibh tortor id aliquet lectus proin nibh. Mauris augue neque gravida in fermentum et sollicitudin. Neque viverra justo nec ultrices dui sapien eget mi. Ut venenatis tellus in metus vulputate eu scelerisque felis. Felis bibendum ut tristique et egestas quis ipsum. Aliquam malesuada bibendum arcu vitae elementum curabitur.
        </p>
      </aside>
    </li>
  </ul>
  <h3>Front Office Manager</h3>
  <ul>
    <li>
      <%= image_tag 'tammy.png', alt: 'Tammy holding STELLA', class: 'shadow' %>
      <aside>
        <h4>Tammy Anotonucci</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cras semper auctor neque vitae tempus quam pellentesque. Nulla aliquet enim tortor at auctor urna nunc id cursus. Neque sodales ut etiam sit amet. Nibh praesent tristique magna sit amet. Dui ut ornare lectus sit amet est placerat. Faucibus turpis in eu mi bibendum neque egestas congue. Purus ut faucibus pulvinar elementum integer enim neque volutpat. In arcu cursus euismod quis viverra nibh cras pulvinar mattis. Ipsum dolor sit amet consectetur adipiscing elit duis tristique. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Justo laoreet sit amet cursus sit. Maecenas ultricies mi eget mauris. Turpis egestas integer eget aliquet nibh. Mauris sit amet massa vitae tortor condimentum lacinia.

          Eget arcu dictum varius duis at consectetur lorem. Interdum velit euismod in pellentesque massa placerat. Ultrices eros in cursus turpis. Ac auctor augue mauris augue neque. Justo laoreet sit amet cursus. Ut tortor pretium viverra suspendisse potenti. Nibh tortor id aliquet lectus proin nibh. Mauris augue neque gravida in fermentum et sollicitudin. Neque viverra justo nec ultrices dui sapien eget mi. Ut venenatis tellus in metus vulputate eu scelerisque felis. Felis bibendum ut tristique et egestas quis ipsum. Aliquam malesuada bibendum arcu vitae elementum curabitur.
        </p>
      </aside>
    </li>
  </ul>
  <h3>Managment</h3>
  <ul>
    <li>
      <%= image_tag 'tammy.png', alt: 'Tammy holding STELLA', class: 'shadow' %>
      <aside>
        <h4>Tammy Anotonucci</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cras semper auctor neque vitae tempus quam pellentesque. Nulla aliquet enim tortor at auctor urna nunc id cursus. Neque sodales ut etiam sit amet. Nibh praesent tristique magna sit amet. Dui ut ornare lectus sit amet est placerat. Faucibus turpis in eu mi bibendum neque egestas congue. Purus ut faucibus pulvinar elementum integer enim neque volutpat. In arcu cursus euismod quis viverra nibh cras pulvinar mattis. Ipsum dolor sit amet consectetur adipiscing elit duis tristique. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Justo laoreet sit amet cursus sit. Maecenas ultricies mi eget mauris. Turpis egestas integer eget aliquet nibh. Mauris sit amet massa vitae tortor condimentum lacinia.

          Eget arcu dictum varius duis at consectetur lorem. Interdum velit euismod in pellentesque massa placerat. Ultrices eros in cursus turpis. Ac auctor augue mauris augue neque. Justo laoreet sit amet cursus. Ut tortor pretium viverra suspendisse potenti. Nibh tortor id aliquet lectus proin nibh. Mauris augue neque gravida in fermentum et sollicitudin. Neque viverra justo nec ultrices dui sapien eget mi. Ut venenatis tellus in metus vulputate eu scelerisque felis. Felis bibendum ut tristique et egestas quis ipsum. Aliquam malesuada bibendum arcu vitae elementum curabitur.
        </p>
      </aside>
    </li>
    <li>
      <%= image_tag 'pilar.jpg', alt: 'Tammy holding STELLA', class: 'shadow' %>
      <aside>
        <h4>Tammy Anotonucci</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cras semper auctor neque vitae tempus quam pellentesque. Nulla aliquet enim tortor at auctor urna nunc id cursus. Neque sodales ut etiam sit amet. Nibh praesent tristique magna sit amet. Dui ut ornare lectus sit amet est placerat. Faucibus turpis in eu mi bibendum neque egestas congue. Purus ut faucibus pulvinar elementum integer enim neque volutpat. In arcu cursus euismod quis viverra nibh cras pulvinar mattis. Ipsum dolor sit amet consectetur adipiscing elit duis tristique. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Justo laoreet sit amet cursus sit. Maecenas ultricies mi eget mauris. Turpis egestas integer eget aliquet nibh. Mauris sit amet massa vitae tortor condimentum lacinia.

          Eget arcu dictum varius duis at consectetur lorem. Interdum velit euismod in pellentesque massa placerat. Ultrices eros in cursus turpis. Ac auctor augue mauris augue neque. Justo laoreet sit amet cursus. Ut tortor pretium viverra suspendisse potenti. Nibh tortor id aliquet lectus proin nibh. Mauris augue neque gravida in fermentum et sollicitudin. Neque viverra justo nec ultrices dui sapien eget mi. Ut venenatis tellus in metus vulputate eu scelerisque felis. Felis bibendum ut tristique et egestas quis ipsum. Aliquam malesuada bibendum arcu vitae elementum curabitur.
        </p>
      </aside>
    </li>
  </ul>
</main>
