<% content_for :title, "Home" %>

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "home", media: "all" %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_pack_tag "news_slider" %>
  <%= javascript_pack_tag "care_links_slider" %>
<% end %>

<% content_for :active, 'home' %>

<hr/>

<main>
  <section>
    <h2 class="text-shadow">Lyons Vet Clinic</h2>
  </section>

  <section class="slider">
    <%= image_tag "news_1.jpeg", :class => 'active', :data => { :id => '1', :type => 'slider' } %>
    <%= image_tag "news_2.jpeg", :style => 'display: none;', :data => { :id => '2', :type => 'slider' } %>
    <div class="actions">
      <%= link_to nil, :data => { :id =>'prev' } do %>
        <%= image_tag "chevron-left.png" %>
      <% end %>
      <%= link_to nil, :class => 'active', :data => { :toggle => '1' } do %>
        &#8226;
      <% end %>
      <%= link_to nil, :data => { :toggle => '2' } do %>
        &#8226;
      <% end %>
      <%= link_to nil, :data => { :id =>'next' } do %>
        <%= image_tag "chevron-right.png" %>
      <% end %>
    </div>
  </section>

  <hr />

  <section>
    <aside>
      <h3>It’s Not What We Do, It’s Who We Are</h3>
      <p>
        At Lyons Veterinary Clinic we are committed to caring for your pet as if
        they were our own. We realize they are more than just a pet, they are
        family. Our goal is to improve the quality of your pets’ lives while
        nurtuting the bond you share with them. Our friendly and compassionate
        staff offer personalized care for you and your pet during every stage of
        their lives. We strive to form lasting relationships and treat each client
        and patient as if they were members of our own family.
      </p>
    </aside>
    <figure>
      <%= image_tag "cat.jpg", alt: "Cat" %>
    </figure>
  </section>

  <hr />

  <section data-id="multi_slider">
    <ul data-id="slides">
      <li data-toggle="slide"><h3><a href="#">Preventative Care</a></h3></li>
      <li data-toggle="slide"><h3><a href="#">Holistic Care</a></h3></li>
      <li data-toggle="slide"><h3><a href="#">Dental Care</a></h3></li>
      <li data-toggle="slide"><h3><a href="#">Minor Surgical Procedures</a></h3></li>
      <li data-toggle="slide"><h3><a href="#">More</a></h3></li>
      <li data-toggle="slide"><h3><a href="#">More 2</a></h3></li>
    </ul>
    <div class="actions">
        <%= link_to nil, :data => { :id =>'prev' } do %>
          <%= image_tag "chevron-left.png" %>
        <% end %>
        <%= link_to nil, :data => { :id =>'next' } do %>
          <%= image_tag "chevron-right.png" %>
        <% end %>
    </div>
  </section>

  <hr />
</main>
