<% content_for :title, "Home" %>

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "home", media: "all" %>
<% end %>

<% content_for :javascripts do %>
 <%= javascript_pack_tag "slider" %>
<% end %>

<section class="slider">
  <%= image_tag "news_1" %>
  <%= image_tag "news_2" %>
  <%= image_tag "news_1" %>
</section>

<hr />

<section>
  <aside>
    <h3>It’s Not What We Do, It’s Who We Are</h3>
    <p>
      At Lyons Veterinary Clinic we are committed to caring for your pet as if
      they were our own. We realize they are more than just a pet, they are
      family. Our goal is to improve the quality of your pets’ lives while
      nurtuting the bond you share with them. Our friendly and compassionate
      staff offer personalized care for you and your pet during every stage of
      their lives. We strive to form lasting relationships and treat each client
      and patient as if they were members of our own family.
    </p>
  </aside>
  <figure>
    <%= image_tag "cat", alt: "Cat" %>
  </figure>
</section>

<hr />

<section>
  <ul>
    <li><a href="#">Preventative Care</a></h3></li>
    <li><a href="#">Holistic Care</a><h3></li>
    <li><a href="#">Dental Care</a><h3</li>
    <li><a href="#">Minor Surgical Procedures</a></li>
  </ul>
</section>

<hr />
