<% content_for :title, "Services" %>

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "services", media: "all" %>
<% end %>

<% content_for :header_tag do %>
  <h2>Services We Provide</h2>
<% end %>

<% content_for :active, 'services' %>

<main>
  <section>
    <h2 class="text-shadow">Services We Provide</h2>
  </section>
  <section>
    <div>
      <p>
        We provide numerous services for both dogs and cats, including wellness
        visits, vaccinations, dental care, general surgery (including spays and
        neuters), holistic medicine, acupuncture, laser therapy, pet hospice,
        nutritional counseling and self grooming services.
      </p>
      <p>
        Our clinic also features an on-site pharmacy, in-house laboratory,
        radiology, retail shop and self grooming services. We service the greater
        Lyons area including but not limited to Pinewood Springs, Hygiene,
        Longmont, Boulder and Estes Park.
      </p>
    </div>
  </section>
  <section>
    <ul>
      <li>
        <%= image_tag 'dog_chasing_ball.jpg', alt: 'dog chasing a ball', class: 'box-shadow' %>
        <aside>
          <h3>Preventative Medicine</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Magnis dis parturient montes nascetur ridiculus. Tortor posuere ac ut consequat semper. Proin fermentum leo vel orci porta non. In nisl nisi scelerisque eu ultrices vitae. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. Tempor id eu nisl nunc mi ipsum. Diam sollicitudin tempor id eu nisl. Sed felis eget velit aliquet sagittis. Leo vel fringilla est ullamcorper eget nulla facilisi. Tincidunt id aliquet risus feugiat in ante metus dictum at. Vel risus commodo viverra maecenas accumsan. Fermentum dui faucibus in ornare quam viverra orci. Quisque sagittis purus sit amet volutpat consequat mauris nunc.
          </p>
        </aside>
      </li>
      <li>
        <%= image_tag 'sick_dog.jpg', alt: 'sick dog laying down', class: 'box-shadow' %>
        <aside>
          <h3>Routine Medicince</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Magnis dis parturient montes nascetur ridiculus. Tortor posuere ac ut consequat semper. Proin fermentum leo vel orci porta non. In nisl nisi scelerisque eu ultrices vitae. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. Tempor id eu nisl nunc mi ipsum. Diam sollicitudin tempor id eu nisl. Sed felis eget velit aliquet sagittis. Leo vel fringilla est ullamcorper eget nulla facilisi. Tincidunt id aliquet risus feugiat in ante metus dictum at. Vel risus commodo viverra maecenas accumsan. Fermentum dui faucibus in ornare quam viverra orci. Quisque sagittis purus sit amet volutpat consequat mauris nunc.
          </p>
        </aside>
      </li>
      <li>
        <%= image_tag 'surprised_cat.jpg', alt: 'cat looking surprised', class: 'box-shadow' %>
        <aside>
          <h3>Dental Cleanings</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Magnis dis parturient montes nascetur ridiculus. Tortor posuere ac ut consequat semper. Proin fermentum leo vel orci porta non. In nisl nisi scelerisque eu ultrices vitae. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. Tempor id eu nisl nunc mi ipsum. Diam sollicitudin tempor id eu nisl. Sed felis eget velit aliquet sagittis. Leo vel fringilla est ullamcorper eget nulla facilisi. Tincidunt id aliquet risus feugiat in ante metus dictum at. Vel risus commodo viverra maecenas accumsan. Fermentum dui faucibus in ornare quam viverra orci. Quisque sagittis purus sit amet volutpat consequat mauris nunc.
          </p>
        </aside>
      </li>
      <li>
        <%= image_tag 'laser_therapy.jpg', alt: 'dog chasing a ball', class: 'box-shadow' %>
        <aside>
          <h3>Laser Therapy & Acupuncture</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Magnis dis parturient montes nascetur ridiculus. Tortor posuere ac ut consequat semper. Proin fermentum leo vel orci porta non. In nisl nisi scelerisque eu ultrices vitae. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. Tempor id eu nisl nunc mi ipsum. Diam sollicitudin tempor id eu nisl. Sed felis eget velit aliquet sagittis. Leo vel fringilla est ullamcorper eget nulla facilisi. Tincidunt id aliquet risus feugiat in ante metus dictum at. Vel risus commodo viverra maecenas accumsan. Fermentum dui faucibus in ornare quam viverra orci. Quisque sagittis purus sit amet volutpat consequat mauris nunc.
          </p>
        </aside>
      </li>
      <li>
        <%= image_tag 'puppy_sitting.jpg', alt: 'puppy sitting', class: 'box-shadow' %>
        <aside>
          <h3>Surgery</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Magnis dis parturient montes nascetur ridiculus. Tortor posuere ac ut consequat semper. Proin fermentum leo vel orci porta non. In nisl nisi scelerisque eu ultrices vitae. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. Tempor id eu nisl nunc mi ipsum. Diam sollicitudin tempor id eu nisl. Sed felis eget velit aliquet sagittis. Leo vel fringilla est ullamcorper eget nulla facilisi. Tincidunt id aliquet risus feugiat in ante metus dictum at. Vel risus commodo viverra maecenas accumsan. Fermentum dui faucibus in ornare quam viverra orci. Quisque sagittis purus sit amet volutpat consequat mauris nunc.
          </p>
        </aside>
      </li>
      <li>
        <%= image_tag 'dog_chasing_ball.jpg', alt: 'dog chasing a ball', class: 'box-shadow' %>
        <aside>
          <h3>PRP Treatment</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Magnis dis parturient montes nascetur ridiculus. Tortor posuere ac ut consequat semper. Proin fermentum leo vel orci porta non. In nisl nisi scelerisque eu ultrices vitae. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. Tempor id eu nisl nunc mi ipsum. Diam sollicitudin tempor id eu nisl. Sed felis eget velit aliquet sagittis. Leo vel fringilla est ullamcorper eget nulla facilisi. Tincidunt id aliquet risus feugiat in ante metus dictum at. Vel risus commodo viverra maecenas accumsan. Fermentum dui faucibus in ornare quam viverra orci. Quisque sagittis purus sit amet volutpat consequat mauris nunc.
          </p>
        </aside>
      </li>
      <li>
        <%= image_tag 'senior_dog.jpg', alt: 'senior dog sitting', class: 'box-shadow' %>
        <aside>
          <h3>Comfort Care</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Magnis dis parturient montes nascetur ridiculus. Tortor posuere ac ut consequat semper. Proin fermentum leo vel orci porta non. In nisl nisi scelerisque eu ultrices vitae. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. Tempor id eu nisl nunc mi ipsum. Diam sollicitudin tempor id eu nisl. Sed felis eget velit aliquet sagittis. Leo vel fringilla est ullamcorper eget nulla facilisi. Tincidunt id aliquet risus feugiat in ante metus dictum at. Vel risus commodo viverra maecenas accumsan. Fermentum dui faucibus in ornare quam viverra orci. Quisque sagittis purus sit amet volutpat consequat mauris nunc.
          </p>
        </aside>
      </li>
      <li>
        <%= image_tag 'dog_laying_down.jpg', alt: 'elderly dog laying down', class: 'box-shadow' %>
        <aside>
          <h3>Hospice & Geriatric In Home Care</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Magnis dis parturient montes nascetur ridiculus. Tortor posuere ac ut consequat semper. Proin fermentum leo vel orci porta non. In nisl nisi scelerisque eu ultrices vitae. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. Tempor id eu nisl nunc mi ipsum. Diam sollicitudin tempor id eu nisl. Sed felis eget velit aliquet sagittis. Leo vel fringilla est ullamcorper eget nulla facilisi. Tincidunt id aliquet risus feugiat in ante metus dictum at. Vel risus commodo viverra maecenas accumsan. Fermentum dui faucibus in ornare quam viverra orci. Quisque sagittis purus sit amet volutpat consequat mauris nunc.
          </p>
        </aside>
      </li>
      <li>
        <%= image_tag 'dog_chasing_ball.jpg', alt: 'dog chasing a ball', class: 'box-shadow' %>
        <aside>
          <h3>In Clinic Pharmacy</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Magnis dis parturient montes nascetur ridiculus. Tortor posuere ac ut consequat semper. Proin fermentum leo vel orci porta non. In nisl nisi scelerisque eu ultrices vitae. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. Tempor id eu nisl nunc mi ipsum. Diam sollicitudin tempor id eu nisl. Sed felis eget velit aliquet sagittis. Leo vel fringilla est ullamcorper eget nulla facilisi. Tincidunt id aliquet risus feugiat in ante metus dictum at. Vel risus commodo viverra maecenas accumsan. Fermentum dui faucibus in ornare quam viverra orci. Quisque sagittis purus sit amet volutpat consequat mauris nunc.
          </p>
        </aside>
      </li>
      <li>
        <%= image_tag 'treats.jpg', alt: 'dog chasing a ball', class: 'box-shadow' %>
        <aside>
          <h3>Retail Store</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Magnis dis parturient montes nascetur ridiculus. Tortor posuere ac ut consequat semper. Proin fermentum leo vel orci porta non. In nisl nisi scelerisque eu ultrices vitae. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. Tempor id eu nisl nunc mi ipsum. Diam sollicitudin tempor id eu nisl. Sed felis eget velit aliquet sagittis. Leo vel fringilla est ullamcorper eget nulla facilisi. Tincidunt id aliquet risus feugiat in ante metus dictum at. Vel risus commodo viverra maecenas accumsan. Fermentum dui faucibus in ornare quam viverra orci. Quisque sagittis purus sit amet volutpat consequat mauris nunc.
          </p>
        </aside>
      </li>
      <li>
        <%= image_tag 'cat_bath_time.jpg', alt: 'dog chasing a ball', class: 'box-shadow' %>
        <aside>
          <h3>Self Pet Wash</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Magnis dis parturient montes nascetur ridiculus. Tortor posuere ac ut consequat semper. Proin fermentum leo vel orci porta non. In nisl nisi scelerisque eu ultrices vitae. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. Tempor id eu nisl nunc mi ipsum. Diam sollicitudin tempor id eu nisl. Sed felis eget velit aliquet sagittis. Leo vel fringilla est ullamcorper eget nulla facilisi. Tincidunt id aliquet risus feugiat in ante metus dictum at. Vel risus commodo viverra maecenas accumsan. Fermentum dui faucibus in ornare quam viverra orci. Quisque sagittis purus sit amet volutpat consequat mauris nunc.
          </p>
        </aside>
      </li>
    </ul>
  </section>
</main>
<!-- image size 400w x 300 max -->
