<% content_for :title, format_name(@position.name) %>

<% content_for :active, 'positions' %>

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "admins/roles", media: "all" %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_pack_tag 'admins/main' %>
<% end %>

<main class="mt-3 sm-w-90 m-center">
  <section class="sm-w-100 md-w-75 m-center">
    <h2 class="h3 secondary text-center mb-3">
      <%= format_name(@position.name) %>
    </h2>
    <aside class="grid">
      <dl class="generic d-inline-block mb-1">
        <dt>Name</dt>
        <dd class="mb-1"><%= format_name(@position.name) %></dd>
      </dl>
      <dl class="generic d-inline-block mb-1">
        <dt>Linked Users</dt>
        <dd class="mb-1"><%= @position.users.count %></dd>
      </dl>
    </aside>
    <aside>
      <dl class="generic mb-2">
        <dt>Description</dt>
        <dd class="mb-1"><%= format_string(@position.description) %></dd>
      </dl>
    </aside>
    <div class="actions">
      <%= link_to "Edit #{format_name(@position.name)}", edit_position_path(@position),
        :class => "btn text-center mt-1 lg-w-35 md-w-100 sm-w-100" %>
      <%= link_to "Back", :back,
        :class => "btn text-center mt-1 lg-w-35 md-w-100 sm-w-100" %>
      <%= link_to "Delete #{format_name(@position.name)}", position_path(@position),
        :method => :delete,
        :data => {
          :remote => true,
          :confirm => 'Are you sure? This will also delete all linked records.'
        },
        :class => "btn danger sm-w-100 text-center mb-2 mt-1 lg-w-35 md-w-100" %>
    </div>
  </section>
  <% if @position.users.count != 0 %>
    <section class="linked-users sm-w-90 md-w-60 m-center mb-2 text-center">
      <h3 class="secondary text-center mb-2">Linked Users</h3>
      <% @position.users.map { |user| UserDecorator.new(user) }.each do |user| %>
        <div>
          <dl class="generic d-inline-block md-w-25 sm-w-100">
            <dt>Name:</dt>
            <dd>
              <%= link_to user.name, user_path(user.model) %>
            </dd>
          </dl>
          <dl class="generic d-inline-block md-w-25 sm-w-100">
            <dt>Email:</dt>
            <dd><%= user.email %></dd>
          </dl>
          <% if user.internal_employee? %>
            <dl class="generic d-inline-block sm-w-100 md-w-25">
              <dt>Position:</dt>
              <dd><%= user.title %></dd>
            </dl>
          <% end %>
        </div>
      <% end %>
    </section>
  <% end %>
</main>
