<% content_for :title, 'Sign In' %>

<main class="w-25 m-center mt-3">
  <h2 class="text-center mb-2 secondary">Sign in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <dl class="mb-1">
      <dt class="mb-1"><%= f.label :email%></dt>
      <dd class="mb-1">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'text-field w-100' %>
      </dd>
      <dt class="mb-1"><%= f.label :password %></dt>
      <dd class="mb-1">
        <%= f.password_field :password, autocomplete: "current-password", :class => 'text-field w-100' %>
      </dd>
      <% if devise_mapping.rememberable? %>
        <dt class="d-inline-block"><%= f.check_box :remember_me %></dt>
        <dd class="d-inline-block"><%= f.label :remember_me, :class => 'fs-1' %></dd>
      <% end %>
    </dl>
      <%= f.submit "Log in", :class => 'btn mb-1 w-100' %>
  <% end %>

  <%= render "users/shared/links" %>
</main>
