<section data-dismissible="true" class="error">
  <% if !obj.errors.empty? %>
    <h4 class="bold">
      The following <%= pluralize(obj.errors.uniq.count, 'error') %> prevented your
      <%= obj.class.name.downcase %> from being <%= action %>:
    </h4>
    <%= link_to 'Close', nil, :'data-dismiss' => 'close' %>
    <ul class="error-messages">
      <% obj.errors.full_messages.uniq.each do |m| %>
        <li><%= m %></li>
      <% end %>
    </ul>
  <% end %>
</section>
