<header class='lg-nav'>
  <nav class="navbar secondary">
    <h1><%= link_to 'Lyons Vetinary Clinic', root_path %></h1>
    <ul>
      <li>
        <%= link_to '303-823-6767', 'tel:3038236767', class: 'text-shadow' %>
      <li>
        <%= link_to 'https://connect.allydvm.com/pet/lyons/sign_in', :target => '_blank', class: 'text-shadow' do %>
          Schedule an <br/> Appointment
        <% end %>
      </li>
      <!--
      <li>
        <%= link_to nil, :target => 'blank' do %>
          Pay <br/> Online
        <% end %>
      </li>
    -->
    </ul>
  </nav>
  <nav class="navbar primary">
    <%= render partial: 'shared/nav_items', locals: { :active => active } %>
  </nav>
  <%= yield :header_tag %>
</header>
