<header class="sm-nav">
  <nav>
    <a class="hamburger_menu" href="#"><%= image_tag "hamburger_menu" %></a>
    <a class="close hidden" href="#"><%= image_tag "close" %></a>
    <%= link_to 'Lyons Vetinary Clinic', root_path %>
    <%= link_to root_path do %>
      <%= image_tag "light_logo" %>
    <% end %>
    <%= render partial: 'shared/nav_items', locals: { :active => active } %>
  </nav>
</header>
