<header class="sm-nav">
  <nav>
    <a class="hamburger_menu" href="#"><%= image_tag "hamburger_menu" %></a>
    <a class="close hidden" href="#"><%= image_tag "close" %></a>
    <%= link_to 'Lyons Vetinary Clinic', root_path %>
    <%= link_to root_path do %>
      <%= image_tag "light_logo" %>
    <% end %>
    <ul>
      <li>
        <%= link_to 'Home', root_path %>
      </li>
      <li>
        <%= link_to 'About Us', about_us_path %>
      </li>
      <li>
        <%= link_to 'Services', services_path %>
      </li>
      <li>
        <%= link_to 'Online Pharmacy', 'https://lyonsvetclinic.vetsfirstchoice.com', :target => '_blank' %>
      </li>
      <li>
        <%= link_to 'Paw-Sources', paw_sources_path %>
      </li>
    </ul>
  </nav>
</header>
