<% content_for :title, 'New Role' %>

<% content_for :active, 'roles' %>

<% content_for :javascripts do %>
  <%= javascript_pack_tag 'admins/roles_new' %>
<% end %>

<main class="mt-3">
  <section class="form-container sm-w-95 md-w-90 lg-w-60 m-center">
    <h2 class="h3 secondary text-center mt-3 mb-3">Create A New Role</h2>
    <%= render partial: 'shared/errors', :locals =>
                                          { :obj => @role, :action => 'created' } %>
    <%= form_for @role, :remote => true, :html => { :novalidate => "true" } do |f| %>
      <dl>
        <dt class="v-center">
          <%= f.label :name do %>
            Name <span>*</span>
          <% end %>
        </dt>
        <dd class="mb-1">
          <%= f.text_field :name, :class => 'd-inline-block lg-w-50', :required => true %>
        </dd>
        <dt class="v-center">
          <%= f.label :description do %>
            Description <span>*</span>
          <% end %>
        </dt>
        <dd class="mb-1">
          <%= f.text_area :description, :class => 'w-100', :required => true %>
        </dd>
        <dt class="v-center">
          <%= f.label :deletable do %>
            Deletable <span>*</span>
          <% end %>
        </dt>
        <dd class="mb-1"><%= f.select :deletable, options_for_select([true, false], true) %></dd>
      </dl>

      <%= f.submit 'Submit', :class => 'btn sm-w-100 md-w-25 mb-1' %>

      <p class="mb-3">* Denotes a required field</p>

    <% end %>
  </section>
</main>
