<% content_for :title, format_name(@role.name) %>

<% content_for :active, 'roles' %>

<% content_for :javascripts do %>

<% end %>

<main class="mt-3 sm-w-90 m-center">
  <section>
    <h2 class="secondary text-center mb-2">
      <%= format_name(@role.name) %> Role
    </h2>
    <dl class="w-90 m-auto">
      <dt>Name</dt>
      <dd><%= format_name(@role.name) %></dd>
      <dt>Deletable?</dt>
      <dd><%= @role.deletable %></dd>
      <dt>Description</dt>
      <dd><%= @role.description %></dd>
    </dl>
    <%= link_to "Edit #{format_name(@role.name)}", edit_role_path(@role) %>
  </section>
  <section>
    <h3 class="secondary text-center mb-2">Linked Users</h3>
    <dl class="90 m-auto">
      <ul>
        <% @role.users.each do |user| %>
          <% person = UserDecorator.new(user) %>
          <li>
            <%= link_to format(person.name), user_path(user) %>
          </li>
          <li><%= person.email %></li>
          <% if person.internal_employee? %>
            <li><%= person.position %></li>
          <% end %>
        <% end %>
      </ul>
    </dl>
  </section>
</main>
