<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lyons Vet Clinic | <%= yield :title %></title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :stylesheet %>

    <link href="https://fonts.googleapis.com/css?family=Handlee&display=swap" rel="stylesheet">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'throttle' %>
    <%= javascript_pack_tag 'nav' %>
  </head>

  <body>
    <%= render partial: 'shared/navbar' %>
    <%= render partial: 'shared/small_nav' %>
    <%= yield %>

    <%= render partial: 'shared/footer' %>
  </body>

</html>
